/* body { font: 67.5%/2em "Arial"; } */
/* body { font: 67.5%/2em "Lucida Grande"; margin: 0; padding: 0 0 5em; } */
body {
  margin: 0; padding: 0;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 20px;
}

p, h1, form, button {
  margin: 0; padding: 0;
  border: 0;
}

h2 { font-size: 18px; *margin-bottom: 0; }
h3 { font-size: 14px; color: #6699CC; margin: 2px 0 4px 0; }
h4 { margin: 5px 0; color: #6699CC; }

a, a:visited { color: blue; }
a { outline: none; }
a.cancel { color: #990000; }

/* .wrapper { margin: 0 auto; overflow: auto; } */

.header {
  height: 68px;
  border-bottom: 1px solid #002650;
  background-color: #002650;
  padding: 12px 24px 0 24px;
  margin-bottom: 12px;
  color: white;
  overflow: auto;
}

.header h1 { font-size: 24px; margin: 0 0 12px; padding: 0; text-align: center; }
.header a, .header a:visited, .header a:hover { border-bottom: none; color: white; text-decoration: none; color: #FFFFFF; }
.header ul { list-style: none; margin: 0; overflow: auto; padding: 0; }

.header .account { float: right; }
.header .account li { float: left; margin-left: 24px; }

.header .navigation { position: absolute; top: 52px; }
.header .navigation li { float: left; line-height: 28px; }
.header .navigation a { background-color: #4D6E8C; font-weight: bold; display: block; line-height: 28px; text-align: center; outline: none; width: 80px; }
.header .navigation a.new {line-height: 18px; margin: 10px 24px 0 1px; width: 24px; }
.header .navigation a:hover { background-color: #fff; color: #002650; }
.header .navigation a.selected { background-color: #fff; color: #002650; }
.header .navigation .last a { margin-right: 0; }

.header #media_navigation { clear: left; left: 24px; }
.header #content_navigation { float: right; right: 24px; }

#tabnav-left { float: left; }
#tabnav-left li { float: left; margin-right: 2px; }

.links,
  #tabnav-left,
  #tabnav-right { list-style: none; margin: 0; overflow: auto; padding: 0; }
.links li, #tabnav-left li { float: left; margin: 0; }
#tabnav-right li { float: right; margin: 0; }
.links li a,
  #tabnav-left li a,
  #tabnav-right li a { background-color: #eee; border: 0; color: #6dac00; display: block; font-weight: bold; margin-right: 1px; padding: 6px 12px; text-decoration: underline; }

#export_options { background-color: #fff; border: 1px solid #000; padding: 4px; }
#export_options li { display: inline; float: none; }
#export_options li a { background-color: #fff; display: inline; margin: 0; padding: 0; }
#export_options li a.delete { color: #900; }

ul#tabnav-left li.selected, ul#tabnav-left li.selected a { background-color: #555555; color: #fff; }
ul#tabnav-left a:hover { background: #555555; color: #fff; }
ul#tabnav-left li.seperator { background-color: #fff; padding: 6px 4px; margin-right: 10px; font-weight: bold; }

.content { margin: 0 auto; padding: 8px 24px 24px 24px; overflow: auto; }

.column { float: left; padding: 0 1em; width: 47%; }

div.clear { clear: both; }

a, a:visited { border-bottom: 1px dotted #ccc; color: #063A60; font-weight: bold; text-decoration: none; }
a:hover { border-bottom: 1px dotted #063A60; }
a img { border: none; vertical-align: middle; }

a.delete { color: #f00; border: none; }
a.delete:hover { border-color: #f00; }
.cancel { color: #f00; margin: 10px; }
.cancel:hover { border-color: #f00; }

.auto_add { color: #ADC96F; }
.auto_remove { color: #CA6F6F; }

pre { background-color: #eee; font: 1.2em/2em Monaco, monospace; padding: 1em; }

table { border-collapse: collapse; width: 100%; }
thead th { background-color: #eee; padding: .5em 1em; text-align: left; }
tbody tr { border-left: 1px solid #fff; border-right: 1px solid #fff; }
tbody td { border-top: 1px solid #eee; padding: .5em 1em; }

tbody tr.selectable:hover { border-left: 1px solid #000; border-right: 1px solid #000; }
tbody tr.selectable:hover td { border-top: 1px solid #000; border-bottom: 1px solid #000; }
tbody tr.selectable.selected td { background-color: #ffe; }

.batch { background-color: #ddd; color: #555; margin: 0; padding: 1em; }
.batch a { border-color: #fff; color: #fff; font-weight: bold; }

fieldset { border: 0; border-bottom: 1px solid #ccc; margin-bottom: 2em; padding: 1em 0; }
legend { color: #063A60; font-size: 1.2em; font-weight: bold; overflow: auto; padding: 0; }
label { clear: left; display: block; float: left; font-weight: bold; line-height: 2em; width: 13em; }
fieldset input, fieldset span { float: left; width: 32em; }
fieldset input[type=checkbox] { width: auto; }
fieldset select { float: left; width: 32em; }

fieldset textarea { float: left; width: 27em; }

ul.message { list-style: none; }
.message { background-color: #ADC96F; color: #fff; font-weight: bold; line-height: 24px; padding: 10px 20px; margin: 0 0 2em; }
.message.error { background-color: #CA6F6F; }

.live_search { background-color: #555; color: #fff; margin: 0; padding: 1em 1em 1em; }
.live_search fieldset { border: 0; margin: 0; padding: 0; }
.live_search input { width: 30em; }
.live_search label { margin-right: 1em; width: auto; }

#spinner { height: 21px; padding-left: 3px; }

.account { position: absolute; top: 0px; right: 0px; }
.account li { display: inline; }
.account a { color: #fff; margin: 6px; }

.help { background-color: #ffc; color: #063A60; font-weight: bold; padding: 4px; margin-bottom: 20px; clear: both; text-align: left; }

.page_count { float: right; padding-left: 5px; }
.channel_filter { float: right; }
.channel_filter select { width: auto; }

/* Modal Stuff */
#modalOverlay { background-color:#000; }
#modalContainer { height: 400px; width: 600px; top: 15%; left: 50%; background-color:#fff; border: 3px solid #ccc; }
#modalContainer a.modalCloseImg { background:url(/images/x_black.png) no-repeat; border: 0; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-18px; cursor:pointer; }
#modalContainer .modalData { margin: 0; padding: 2em; }

#modal h2 { margin: 0 0 20px; line-height: 12px; }

form { overflow: auto; }
form .actions { position: fixed; bottom: 0px; left: 0px; width: 100%; padding: 5px 0; background-color: #DDDDDD; border-top: solid 1px #AAAAAA; z-index: 100; }
form .actions input { margin-left: 10px; }

/* .actions { position: absolute; background-color: #ddd; bottom: 0px; left: 0px; width: 100%; padding: 5px 10px; border-top: solid 1px #aaa; } */
form .actions .delete { float: right; padding-right: 20px; }
@media screen { form .actions { position: fixed; } }
