<% head do %>
<style type="text/css" media="screen">
  .account { position: absolute; top: 0px; right: 0px; }
  .account li { display: inline; }
  .account a { color: #fff; margin: 6px; }
</style>
<% end %>

<ul class="account">
	<% UI::AccountNavigation::links.each do |link| %>
		<% if link[2].call(self) %>
  		<li><a href="<%= link[1] %>"><%= link[0] %></a></li>
		<% end %>
  <% end %>
  
	<% if me %>
	  <li><a href="/account"><%= me %></a></li>
	  <li><a href="/session/delete">logout</a></li>
	<% end %>
</ul>