<% head "actions" do %>
<style type="text/css" media="screen">
  .actions { position: absolute; bottom: 0px; left: 0px; width: 100%; padding: 5px 10px; background-color: #ddd; border-top: solid 1px #aaa; }
  @media screen { .actions { position: fixed; } }
</style>
<% end %>

<div class="actions">
  <%= @content %>
</div>