<% head "embed_link_js" do %>
<script type="text/javascript" charset="utf-8">
  $(".embedLink input").focus().select();
</script>
<% end %>

<% head "embed_link_css" do %>
<style type="text/css" media="screen">
  .embedLink { overflow: auto; }
  .embedLink input { width: 100%; }
  .embedLink .clipboard { float: right; }
</style>
<% end %>

<div class="embedLink">
  <% if @title %><label><%= @title %></label><% end %>
  <input type="text" value='<%=h @content %>'></input>
  <%= UI::Clipboard.new(self, @content) %>
</div>
