<style type="text/css" media="screen">
  body { font: 1em/2em Helvetica; }
  .calendar .days th { background-color: #555; color: #eee; width: 100px; }
  .calendar tbody td { background-color: #eee; height: 100px; vertical-align: top; width: 120px; }
  .calendar tbody .date { display: block; }

  .calendar .milestone { color: #090; }
  .calendar .deadline { color: #900; }
</style>

<% @calendar.months.each do |month| %>
<table class="calendar">
  <thead>
    <tr class="month">
      <th colspan="7"><%= month.to_s %></th>
    </tr>
    <tr class="days">
      <th>Sun</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
    </tr>
  </thead>
  <tbody>
    <% month.to_a.each do |week| %>
    <tr>
      <% week.each do |day| %>
      <% if day.nil? %>
      <td></td>
      <% else %>
      <td>
        <span class="date"><%= day.day %></span>
        <% @calendar.events.find_all { |event| event.on?(day) }.each do |event| %>
        <span class="event <%= event.type || "" %>"><%= event.title %></span>
        <% end %>
      </td>
      <% end # if day.nil? %>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>